<div class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <input type="text" class="form-control" placeholder="Buscar hospitales...">

            </div>
        </div>
    </div>
</div>

<div *ngIf="load" class="row animated fadeIn fast">
    <div class="col-12">
       
        <div class="alert alert-info text-center">
            <h4 class="alert-heading">Cargando...</h4>
            <i class="fa fa-spin fa-refresh fa-2x"></i>
            <p class="mb-0">Agradecemos su paciencia</p>
        </div>

    </div>
</div>

<div *ngIf="!load" class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Total de hospitales - {{hospitals.length}} </h4>
                <h6 class="card-subtitle">Lista de todos hospitales registrados en la aplicación<code>Admin Pro</code></h6>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="w100">Imagen</th>
                                <th>Nombre</th>
                                <th class="text-nowrap">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let hospital of hospitals">
                                <td class="text-center">
                                    <!-- Por defecto "hospital.img" es el primer argumento que recibe el pipe {{ hospital.img | imagen:'hospitales' }}, puedo usarlo sin detalles en otros componentes como muestro en en mi img -->
                                    <img [src]="hospital.img | imagen:'hospitales'" [alt]="hospital.nombre" class="avatar cursorPointer">
                                </td>
                                <td>
                                    <input type="text" class="form-control" placeholder="Nombre del hospital" [(ngModel)]="hospital.nombre">
                                </td>
                                <td class="text-nowrap text-center">
                                    <a href="#" data-toggle="tooltip" data-original-title="Guardar"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                    <a href="#" data-toggle="tooltip" data-original-title="Borrar"> <i class="fa fa-close text-danger"></i> </a>
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>

                <!-- <button class="btn btn-secondary" style="margin-right: 10px;">Anteriores</button>
                <button class="btn btn-secondary">Siguientes</button> -->

            </div>
        </div>
    </div>
</div>