/* You can add global styles to this file, and also import other style files */
.fast {
    -webkit-animation-duration:0.3s;
    animation-duration:0.3s;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both
}

.cursorPointer {
    cursor: pointer;
}

.img-avatar {
    width: 200px;
    height: 200px;
}

.img-hospital {
    width: 100px;
    height: 100px;
}

.img-doctor {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.w100 {
    width: 100px;
}

.w140 {
    width: 140px;
}

.avatar {
    border-radius: 50%;
    width: 60px;
}

.fondo-modal-imagen {
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 99;
}

.oculto {
    display: none;
}